# Node.js dependencies
/node_modules

# Build output
/webapp/dist

# OS-specific files
.DS_Store

# Go build artifacts
/bin/
/pkg/

# Logs
*.log

# IDE-specific files
.idea/
.vscode/

webapp/node_modules

dist/
*.zip
*.yml
*.yaml
mattermost/*

*.gz
/dist/
/dist/mattermost-readreceipts-0.1.0.tar.gz